@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">d</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Selamlar Core Kampı başladı Nasılsınız iyidd misdddsinssiz</a>.</p>
</div>

